<!-- <button type="button" class="btn">Basic</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-link">Link</button>
 -->

<div class="container">
    <div class="row">
      <div class="col-4">
        <a href="#/home" class="btn btn-primary">Home</a>
      </div>
      <div class="col-4">
        <a href="#/addProduct" class="btn btn-secondary">Add Product</a>
      </div>
      <div class="col-4">
        <a href="#/searchProduct" class="btn btn-success">Search Product</a>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>